*.class

# Package Files #
*.jar
*.war
*.ear

/Yaki/nbproject/private/
/YakHospitalHibernate/nbproject/private/
*.orig
YakHospitalHibernate/lib/*
/YakHospitalHibernate/dist/
YakHospitalHibernate/build/*

